<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200064457252-nd1l475rnid6dpq0rlehc83mp9pptlsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200064457252-nd1l475rnid6dpq0rlehc83mp9pptlsg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>200064457252-ful9ict0u6fkdnseuu4e7spv08c8han7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4inkFWSvcOchZ9LMIcRnEcp3_WyTy2-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>200064457252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wafarnalak.wafarnalakapp</string>
	<key>PROJECT_ID</key>
	<string>foren-se-customers</string>
	<key>STORAGE_BUCKET</key>
	<string>foren-se-customers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200064457252:ios:2f9ec0728395ee1bb156b1</string>
	<key>DATABASE_URL</key>
	<string>https://foren-se-customers.firebaseio.com</string>
</dict>
</plist>